* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */

body {
  background-color: #f7f7f7;
  font-family: 'Ubuntu', sans-serif;
  color: #021912;
}

.hidden {
  display: none;
}

.container {
  width: 50vw;
  margin: 0 auto;
}

.light-border {
  border: 1px solid #495057;
}

.top-header {
  background-color: #087f5b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  margin-bottom: 44px;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 32px;
  color: #e6fcf5;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-weight: 900;
}

.info-pane {
  margin-bottom: 44px;
}

h2 {
  margin-bottom: 12px;
  font-weight: 600;
}
.TID-month {
  display: inline-block;
  padding: 4px;
  border-radius: 2px;
  color: #066649;
  font-weight: 700;
  background-color: #e6fcf5;
}

.details-box {
  background-color: #e9ecef;
  border: solid 1px #868e96;

  padding: 18px;
  border-radius: 4px;
}

.details--name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}

hr {
  margin-top: 8px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.details-entry {
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.details--input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.details--input input.field-name {
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 1px solid #868e96;
  font-size: 16px;
}

.field-value {
  padding: 2px;
}

.details--row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.field-name {
  width: 120px;
  border: none;
  background-color: #e9ecef;
  outline: none;
}

.btn-primary {
  display: inline-block;
  padding: 12px;
  font-size: 16px;
  align-self: flex-end;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #087f5b;
  color: #e6fcf5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
