* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */

body {
  background-color: #f7f7f7;
  font-family: 'Ubuntu', sans-serif;
  color: #d2d4d6;
}

.hidden {
  display: none;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.top-header {
  background-color: #087f5b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  margin-bottom: 44px;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: #f8f9fa;
  margin-right: 22px;
}

nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  color: #0c8599;
}

h1 {
  /* color: #0c8599; */
  /* color: #a5a9ad; */
  font-family: 'Poiret One', cursive;
  font-size: 32px;
  color: #e6fcf5;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-weight: 900;
}
@media screen and (min-width: 480px) {
  footer {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    background-color: #10151a;
    display: inline-block;
    width: 100%;
    border-bottom: 8px solid #161d24;
    position: absolute;
    bottom: 0;
    color: #f8f9fa;
    font-size: 12px;
    letter-spacing: 1.5px;
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 10px;
  }
}

/* Month Selector */
.month-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.month-row {
  border: 1px solid #212529;
  padding: 2px;
  outline: none;
  display: flex;
  align-items: stretch;
  border-radius: 6px;
  color: #212529;
}
.month-label {
  padding: 12px;
}
.month-options {
  padding: 12px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
}

.btn {
  cursor: pointer;
  padding: 12px;
  background-color: #087f5b;
  color: #f8f9fa;
  border: none;
  outline: none;
  border-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 16px;
}

.download-button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
/* CARD STYLES */

.fee-details {
  margin-bottom: 50px;
}
.card-holder {
  display: grid;
  row-gap: 50px;
  justify-content: center;
}

@media screen and (min-width: 300px) {
  .card-holder {
    grid-template-columns: 1fr;
    font-size: 16px;
  }
  .card-total {
    padding: 16px 32px;
    font-size: 18px;
  }
  .card {
    padding: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .card-holder {
    grid-template-columns: repeat(3, 400px);
    column-gap: 50px;
    font-size: 16px;
  }

  .card-total {
    padding: 25px 50px;
    font-size: 20px;
  }
  .card {
    padding: 24px;
  }
}

.card {
  border: solid 1px #343a40;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* width: 480px; */
  background-color: #f1f3f5;
  border-radius: 8px;
  color: #212529;
  align-self: start;
}

.card-header {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 1fr auto;
  background-color: #ced4da;
  padding: 8px 16px;
  row-gap: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  align-items: center;
}

.card-header span {
  padding: 1px 2px;
}

.card-header hr {
  grid-column: 1/-1;
  height: 1px;
  background-color: #fff;
}
.bdr-btm {
  border-bottom: 1px solid #fff;
}

.light-border {
  border: 1px solid #495057;
}

.card-body table {
  width: 100%;
  margin-bottom: 12px;
  border: 1px solid #1c252e;
  border-radius: 8px;
  padding: 8px;
  /* display: none; */
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

th,
td {
  border: solid 1px #868e96;
  padding: 8px;
  min-width: 100px;
}

th {
  font-weight: 500;
}

.card-total {
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #087f5b;
  color: #e6fcf5;
  border-radius: 8px;
}
