* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
  font-family: 'Ubuntu', sans-serif;
  color: #d2d4d6;
}
.card {
  border: solid 1px #343a40;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  background-color: #f1f3f5;
  color: #212528;
  align-self: start;
  padding: 24px;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card-header {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 1fr auto;
  background-color: #ced4da;
  padding: 8px 16px;
  row-gap: 10px;
  border-radius: 6px;
  align-items: center;
}

.card-header span {
  padding: 1px 2px;
}

.card-header hr {
  grid-column: 1/-1;
  height: 1px;
  background-color: #fff;
}
.bdr-btm {
  border-bottom: 1px solid #fff;
}

.light-border {
  border: 1px solid #495057;
}

.card-body table {
  width: 100%;
  border: 1px solid #1c252e;
  border-radius: 8px;
  padding: 8px;
  /* display: none; */
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

th,
td {
  border: solid 1px #868e96;
  padding: 8px;
  min-width: 100px;
  color: #212529;
}

th {
  font-weight: 500;
}

.card-total {
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #087f5b;
  color: #e6fcf5;
  border-radius: 8px;
  padding: 25px 50px;
  font-size: 20px;
  margin-bottom: 18px;
}

.card-footer {
  padding-bottom: 4px;
  font-size: 14px;
  margin-top: auto;
  text-align: center;
  color: #087f5b;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
